<nav class="panel">
  <p class="panel-heading">
    Filter console sessions
  </p>
  <div class="panel-block">

  </div>
</nav>

<div class="sessions">
  <%= render partial: "console1984/sessions/session", collection: @sessions, cached: true %>
</div>
