validations:
  forbidden_reopening:
    - ActiveRecord
    - Console1984
    - PG
    - Mysql2
    - IRB
  forbidden_constant_reference:
    always:
      - Console1984
      - IRB
    protected:
      - PG
      - Mysql2
      - ActiveRecord::ActiveRecordEncryption
  suspicious_terms:
    - console_1984
    - Console1984
    - secret
    - credentials
    - irb
forbidden_methods:
  Kernel:
    - eval
  Object:
    - eval
  BasicObject:
    - eval
    - instance_eval
  Module:
    - class_eval
