name: Build
on: [push]

jobs:
  rubocop:
    name: Rubocop
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.3
          bundler-cache: true
      - name: Run rubocop
        run: |
          bundle exec rubocop --parallel
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [3.0.3]
        database: [sqlite, postgres, mysql]
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
      postgres:
        image: postgres:13.4
        env:
          POSTGRES_HOST_AUTH_METHOD: "trust"
        ports:
          - 55432:5432
      mysql:
        image: percona:5.7.22
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
        ports:
          - 33306:3306
    env:
      TARGET_DB: ${{ matrix.database }}
      CI: true
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Setup test database
        run: |
          bin/rails db:setup
      - name: Run tests
        run: bin/rails test
